---
layout: default
dataid: kup
permalink: /index
---
<div class="container lg:max-w-screen-lg mx-auto px-6 py-10">
    
  <div class="mb-8">
      <div class="flex items-baseline justify-between border-b border-red-200 mb-10">
          <h2 class="text-base font-bold tracking-wide uppercase py-4 border-b-2 border-red-200 -mb-2px">
              Aspek Pajak
          </h2>
      </div>

      
      <div class="flex flex-wrap -mx-3">

          {% capture namatopik %}{{ cat.name }}{% endcapture %}
          {% assign sort1 = site.fitur | where: "category", "aspekpajak" | sort: "modifiedTime" %}
          {% assign t = sort1 | sort: "linkurl" | reverse %}
          {% for titles in t limit:3%}
          {% if titles.topik != nil %}
          <div class="w-1/2 sm:w-1/3 px-3 flex flex-col mb-8">
              <a href="{{ titles.linkurl }}" class="no-underline bg-white rounded-lg shadow hover:shadow-raised hover:translateY-2px transition hover:scale-75 flex-1 flex flex-col overflow-hidden">
                  <div>
                      <img src="" alt="">
                      <div class="bg-cover aspect-16x9 opacity-75 hover:opacity-50" style="background-image: url('{{ site.baseurl }}/assets/icon/aspekpajak/{{ titles.img }}')">
                      </div>
                  </div>
                  <div class="px-6 py-4 flex-1 flex flex-col justify-between">
                      <h3 class="text-gray-800 text-sm font-medium no-underline mb-4">
                          {{titles.title}}
                      </h3>
                  </div>
                  
              </a>
          </div>
          {% endif %}
          {% endfor %}
      </div>
  </div>
</div>

<div class="flex flex-wrap w-11/12 mx-auto py-8">
  <div class="w-screen md:w-1/3 p-2">
    
    <div class="text-gray-700 text-center p-2">
      <table class="w-11/12 mx-auto my-0 border-collapse table-fixed mt-6">
      <thead class="mt-4">
        <tr>
          <th colspan="2">KUP</th>
        </tr>
      </thead>
        <tbody>
            {% capture kup %}kup{% endcapture %}
            {% assign dataidCategory = site.data[kup] | sort: "Last Updated" | reverse %}
            {% for item in dataidCategory limit:6 %}
            <tr class="nameandprice">
                <td class="dotStyle">
                    <span class="text-sm text-gray-800 bg-white">{{item.Document}}</span>
                </td>
                <td class="dotStyle">
                    <span class="text-xs text-gray-800 bg-white">{{ item.LastUpdated | date: "%b" }}</span>
                </td>
            </tr>
            <tr class="px-8 pt-1 pb-8 mx-10">
              <td class="text-xs text-gray-800" colspan="2">{{item.Topic}}</td>
          </tr>
            {% endfor %}
        </tbody>

    </table>
  </div>
  </div>
  <div class="w-screen md:w-1/3 p-2">
    <div class="text-gray-700 text-center p-2">
      <table class="w-11/12 mx-auto my-0 border-collapse table-fixed mt-6">
        <thead>
          <tr>
            <th colspan="2">Pajak Penghasilan</th>
          </tr>
        </thead>
        <tbody>
          {% capture pph %}pph{% endcapture %}
          {% assign dataidCategory = site.data[pph] | sort: "Last Updated" | reverse %}
          {% for item in dataidCategory limit:6 %}
          
          <tr class="nameandprice">
              <td class="dotStyle">
                  <span class="text-sm text-gray-800 bg-white">{{item.Document}}</span>
              </td>
              <td class="dotStyle">
                  <span class="text-xs text-gray-800 bg-white">{{ item.LastUpdated | date: "%b" }}</span>
              </td>
          </tr>
          <tr class="px-8 pt-1 pb-8 mx-10">
            <td class="text-xs text-gray-800" colspan="2">{{item.Topic}}</td>
        </tr>
          {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
  <div class="w-screen md:w-1/3 p-2">
    <div class="text-gray-700 text-center p-2">
      <table class="w-11/12 mx-auto my-0 border-collapse table-fixed mt-6">
        <thead class="mt-4">
          <tr>
            <th colspan="2">Pajak Pertambahan Nilai</th>
          </tr>
        </thead>
        <tbody>
            {% capture ppn %}ppn{% endcapture %}
            {% assign dataidCategory = site.data[ppn] | sort: "Last Updated" | reverse %}
            {% for item in dataidCategory limit:6 %}
            <tr class="nameandprice">
                <td class="dotStyle">
                    <span class="text-sm text-gray-800 bg-white">{{item.Document}}</span>
                </td>
                <td class="dotStyle">
                    <span class="text-xs text-gray-800 bg-white">{{ item.LastUpdated | date: "%b" }}</span>
                </td>
            </tr>
            <tr class="px-8 pt-1 pb-8 mx-10">
              <td class="text-xs text-gray-800" colspan="2">{{item.Topic}}</td>
          </tr>
            {% endfor %}
        </tbody>

    </table>
    </div>
  </div>
</div>