---
layout: default
dataid: pph
title: KUP
description: Ketentuan Umum dan Tatacara Perpajakan
permalink: /masonry
---
<div class="flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-screen-lg w-full">

        <div class="grid-layout">
            {% capture kup %}kup{% endcapture %}
            {% assign dataidCategory = site.data[kup] | sort: "SortCategory" | reverse %}
            {% for byIdCategory in dataidCategory limit:10 %}
            {% include masonry.html content=kup %}
            {%endfor%}

            {% capture ppn %}ppn{% endcapture %}
            {% assign dataidCategory = site.data[ppn] | sort: "SortCategory" | reverse %}
            {% for byIdCategory in dataidCategory limit:10 %}
                {% include masonry.html content=ppn %}
            {%endfor%}

            {% capture pph %}pph{% endcapture %}
            {% assign dataidCategory = site.data[pph] | sort: "SortCategory" | reverse %}
            {% for byIdCategory in dataidCategory limit:10 %}
            {% include masonry.html content=pph %}
            {%endfor%}
        </div>
</div>
</div>