/* test halama hero.html */
.aspect-16x9 {
  padding-bottom: 30%;
}

.translate-y-4:hover {
--transform-translate-y: 1rem;
}

.hover\:translateY-2px:hover {
  --transform-translate-y: 1.25rem;
  }

.hover\:shadow-raised:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}