---
layout: default
---
<div class="flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-screen-lg w-full">

      <div class="bg-white overflow-hidden sm:rounded-lg">
          <div class="px-4 py-5 border-b pb-3 border-gray-200 sm:px-6">
            <p class="text-base leading-6 font-semibold text-teal-500 uppercase tracking-wide lg:text-center">
              {{ page.title }}
            </p>
            <h3 class="mt-2 max-w-3xl text-2xl leading-8 font-semibold font-display text-gray-900 sm:text-3xl sm:leading-9 lg:max-w-4xl lg:text-4xl lg:leading-10 lg:mx-auto lg:text-center ">
              {{ page.description }}  
            </h3>
            
          </div>
          <div>
            <div>
              <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 transition transform" x-data="{ show: false }" x-init="setTimeout(() => show = true, 300)" x-show="show" x-transition:enter="ease-in duration-600" x-transition:enter-start="opacity-0 scale-50 translate-y-2" x-transition:enter-end="opacity-100 scale-100 translate-y-0" x-transition:leave="ease-in duration-600" x-transition:leave-start="opacity-100 scale-100 translate-y-0" x-transition:leave-end="opacity-0 scale-100 translate-y-2">
                {% assign dataidCategory = site.data[page.dataid] | group_by: "Category" | sort: "SortCategory" | reverse %}
                {% for byIdCategory in dataidCategory %}

                <div class="text-sm leading-5 font-medium text-gray-800 mt-3">
                  {{ byIdCategory.name }}
                </div>
                <div class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                    {% assign listItems = byIdCategory.items | sort: 'P#' %}  
                    <ul class="border border-gray-300 rounded-md hover:shadow-md focus:shadow-outline">
                    {% for item in listItems %}
                        {% if item.Topic != nil %}
                        {% else %} 
                        
                          <li class="border-t first:border-t-0 border-gray-300 pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5 hover:bg-green-200">
                            <div class="w-0 flex-1 flex items-center">
                              <svg class="flex-shrink-0 h-5 w-5 text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M20.12 11.95l-6.58 6.59a5 5 0 1 1-7.08-7.07l6.59-6.6a3 3 0 0 1 4.24 4.25l-6.58 6.59a1 1 0 1 1-1.42-1.42l6.59-6.58a1 1 0 0 0-1.42-1.42l-6.58 6.59a3 3 0 0 0 4.24 4.24l6.59-6.58a5 5 0 0 0-7.08-7.08l-6.58 6.6a7 7 0 0 0 9.9 9.9l6.59-6.6a1 1 0 0 0-1.42-1.4z"/></svg>
                              <span class="ml-2 flex-1 w-0 truncate">
                                <a href="{{ item.url }}">{{item.Document}}</a>
                              </span>
                            </div>
                          </li>
                        
                        {% endif %}
                        {% endfor %}
                    </ul>

                    {% comment %}
                      untuk yang ada topiknya
                    {% endcomment %}

                    {% capture categoryName %}{{byIdCategory.name}}{% endcapture %}
                    {% assign topics = site.data[page.dataid] | where: "Category", categoryName | group_by: 'Topic' | sort: "SortTopic" | reverse %}
                    {% for topic in topics %}
                    {% if topic.name.size > 0 %}
                    <ul x-data="dropdown()" class="border border-gray-300 rounded-md mt-3 hover:shadow-md focus:shadow-outline">
                      <li x-on:click="open()" class="border-t first:border-t-0 border-gray-200 pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5 hover:bg-green-200">
                        <div class="w-0 flex-1 flex items-center">
                          <svg class="flex-shrink-0 h-5 w-5 text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path class="heroicon-ui" d="M20 6a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2h7.41l2 2H20zM4 6v12h16V8h-7.41l-2-2H4z"/></svg>
                          <span class="ml-2 flex-1 w-0 truncate">
                            {{ topic.name }} 
                          </span>
                        </div>
                        <div class="ml-4 flex-shrink-0">
                          <svg class="flex-shrink-0 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 24 24" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path class="heroicon-ui" d="M4 15a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0-2a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm8 2a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0-2a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm8 2a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0-2a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg>
                        </div>
                      </li>

                      {% capture subtopik1 %}{{topic.name}}{% endcapture %}
                      {% assign titles = site.data[page.dataid] | where: "Topic", subtopik1 | sort: "P#" %} 
                      {% for item in titles %}
                        
                    
                      <li x-show="isOpen()" x-on:click.away="close()" class="border-t first:border-t-0 border-gray-300 pl-3 pr-4 flex items-center justify-between text-sm leading-5 hover:bg-green-200">
                        <div class="w-0 flex-1 flex items-center py-2 ml-10" id="{{item.Document}}">
                          <svg class="flex-shrink-0 h-5 w-5 text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M20.12 11.95l-6.58 6.59a5 5 0 1 1-7.08-7.07l6.59-6.6a3 3 0 0 1 4.24 4.25l-6.58 6.59a1 1 0 1 1-1.42-1.42l6.59-6.58a1 1 0 0 0-1.42-1.42l-6.58 6.59a3 3 0 0 0 4.24 4.24l6.59-6.58a5 5 0 0 0-7.08-7.08l-6.58 6.6a7 7 0 0 0 9.9 9.9l6.59-6.6a1 1 0 0 0-1.42-1.4z"/></svg>
                        <span class="ml-2 flex-1 w-0 truncate">
                          <a href="{{ item.url }}">{{ item.Document }}</a>
                        </span>
                        </div>
                      </li>
                      {%endfor%}
                    </ul>
                    {% else %} 
                    {% endif %}
                    {%endfor%}
                </div>

                {% endfor %}
              </div>
            </div>
          </div>
        </div>


  </div>
</div>