---
layout: default
---
<div class="container mx-auto bg-white overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
      <h3 class="text-3xl leading-6 font-bold text-gray-900">
        {{ page.description }}
      </h3>
      <p class="mt-2 max-w-2xl text-sm leading-5 text-gray-500">
        {{ page.title }}
      </p>
    </div>
    <div>
      <dl>
        <div class="bg-white py-5 sm:grid md:grid-cols-4 sm:gap-4 px-4 sm:px-6">
            {% assign dataidCategory = site.data[page.dataid] | group_by: "Category" | sort: "SortCategory" | reverse %}
            {% for byIdCategory in dataidCategory %}
            <dd class="text-sm leading-5 font-medium text-gray-500 mt-3">
                {{ byIdCategory.name }}
            </dd>
            <dt class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 md:col-span-3">
                <ul class="border border-gray-200 rounded-md">
                    {% assign listItems = byIdCategory.items | sort: 'P#' %}                    
                    {% for item in listItems %}
                    {% if item.Topic != nil %}
                    {% else %}
                    <a href="#">
                        <li class="border-t first:border-t-0 border-gray-200 pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5 hover:bg-green-100">
                            <div class="w-0 flex-1 flex items-center">
                                {% if item.Extension != nil %}
                                    <svg class="flex-shrink-0 h-5 w-5 text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M20.12 11.95l-6.58 6.59a5 5 0 1 1-7.08-7.07l6.59-6.6a3 3 0 0 1 4.24 4.25l-6.58 6.59a1 1 0 1 1-1.42-1.42l6.59-6.58a1 1 0 0 0-1.42-1.42l-6.58 6.59a3 3 0 0 0 4.24 4.24l6.59-6.58a5 5 0 0 0-7.08-7.08l-6.58 6.6a7 7 0 0 0 9.9 9.9l6.59-6.6a1 1 0 0 0-1.42-1.4z"/></svg>
                                {% endif %}
                            <span class="ml-2 flex-1 w-0 truncate">
                                {{item.Document}}
                            </span>
                            </div>
                        </li>
                    </a>
                    {% endif %}
                    {% endfor %}
                </ul>
            </dt>
            {% endfor %}
        </div>
      </dl>
    </div>
  </div>
  
  <!--end-->